<p>
  task-manager works!
</p>
Task:
  <input type="text"  [(ngModel)]='oneTask' placeholder="Add your task here"> 
  <button (click)="sayHello()">Add task</button>
  <br>
  <ol>
    <li *ngFor="let task of myTasks; let currentTask= index">
      {{task | lowercase}} 
      &nbsp; 
      <button (click)="taskDone(currentTask)">Done</button>

    </li>
  Completed tasks:
  <ol>
    <li *ngFor="let loc of completedTasks">
      {{loc}}
    </li>


  </ol>
  </ol>

  Currency Pipe:{{salary|currency:'INR'}}
  <br>
  Date Pipe:{{myDate|date:'MM/dd/yy'}}
  <br>
  String Sort Pipe:{{myString | stringSortPipe}}
  <br>
  unsorter friends :{{friends}}
  <br>
  sorted friends : {{friends|stringSortPipe :'dsc'}}
  <br>
  unsorted score :{{scores}}
  <br>
  sorted score :{{scores | numbersSortPipe : 'dsc'}}