<p>
  template-form works!
</p>

<form #myForm="ngForm" (ngSubmit)="addFormUser(myForm.value)">
  First name: <input type="text" placeholder="first name" name="firstname" ngModel>
  <br><br><br>
  email: <input type="text" placeholder="email" name="email" ngModel/>
  <br><br><br>
  Hobby: 
  <select name="hobby" ngModel>
    <option value="driving">Driving</option>
    <option value="reading">Reading</option>
    <option value="dancing">Dancing</option>
  </select>
  <!-- Latitude:<input type="number" name="address.geo.lat" ngModel/>
  <br><br><br>
  Longitude:<input type="number" name="address.geo.lng" ngModel/>
  <br><br><br> -->
  <button type="submit">Submit</button>
</form>